@import '~antd/dist/antd.less';
.App {
  background-color: #f2f2f2;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.s-fc3 {
  color: #666;
}
.App-link {
  color: #61dafb;
}
.s-bg {
  background: url('../src/assets/images/index.png') no-repeat 0 9999px;
}
.s-bg-6 {
  background-position: 0 -240px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  margin: 0;
}

.indexpg {
  background: url('../src/assets/images/index.png') no-repeat 0 -9999px;
}
.coverall {
  background: url('../src/assets/images/coverall.png') no-repeat 0 -9999px;
}
.iconall {
  background: url('../src/assets/images/iconall.png') no-repeat 0 -9999px;
}
.icon {
  background: url('../src/assets/images/icon.png') no-repeat 0 -99999px;
}
.clearFix {
  &::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  *zoom: 1;
}

.addUnderLine {
  &:hover {
    text-decoration: underline;
  }
}

.ablock {
  display: block;
}

.textellips {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal
}

.button2{
  background: url('./assets/images/button2.png') no-repeat 0 -99999px;
}

.sprite{
  background: url('./assets/images/sprite.png') no-repeat 0 -9999px;
}

.tablepg{
  background: url("./assets/images/table.png") no-repeat 0 -99999px;
}
